<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= content_for?(:title) ? yield(:title) : "Providejobs" %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'applications_internet.png' %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </head>
  <body class="blue-grey-text text-darken-4 orange lighten-5">
  <nav>
    <div class="nav-wrapper orange lighten-2">
      <%= link_to("/") do %><%= image_tag "tryjob_logo.png", :height => "100%", :class => "logo" %><% end %>
    </div>
  </nav>

    <%= yield %>

  <footer class="page-footer orange lighten-2">
    <div class="row">
      <div class="col l2 m3 s12 center">
        <%= link_to("/") do %><%= image_tag "tryjob_logo.png", :height => "50px" %><% end %>
      </div>
      <div class="col l10 m9 s12">
        <div class="col l12 m12 s12">
          <div class="col l3 m6 s12"><%= link_to "運営会社", company_path %></div>
          <div class="col l3 m6 s12"><%= link_to "お問い合わせ", contacts_index_path %></div>
          <div class="col l3 m6 s12"><%= link_to "セキュリティポリシー", security_path %></div>
          <div class="col l3 m6 s12"><%= link_to "プライバシーポリシー", privacy_path %></div>
        </div>
        <div class="col l12 m12 s12 blue-grey-text text-darken-4">
          Copyright © 2016 BlueStar Inc. All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>

  <%= javascript_include_tag "application" %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });

  $('.datepicker').ready(function() {
    /* デートピッカー */
    var $input = $('.datepicker').pickadate({
      format: 'yyyy/mm/dd',
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 30, // Creates a dropdown of 15 years to control year
      monthsFull: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
    });
    // Use the picker object directly.
    var picker = $input.pickadate('picker')
    picker.set('select', [1985, 1, 1]);
  });
  </script>
  </body>
</html>
